body {
    min-height: 100%;
    background: url("../images/sub.png") no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

.hit {
    background-color: red;
}

.jumbotron {
    background-color: rgba(49, 53, 64, 0.9);
    border-radius: 8px;
    border: 2px solid #F1EBE2;
    color: #F1EBE2;
    padding-bottom: 10px;
}

.jumbotron h1 {
    font-family: 'Special Elite', cursive;
}

.page {
    background-color: rgba(49, 53, 64, 0.5);
    min-height: 100vh;
    min-width: 1024px;
    max-width: 100%;
    padding: 20px;
    margin: 0;
}

#tb1 {
    border-collapse: collapse;
}

#tb2 {
    border-collapse: collapse;
}

li {
    color: #F1EBE2;
}

table,
th,
td {
    border: 3px solid black;
}

td {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.hit {
    background-color: red;
}

.miss {
    background-color: green;
}

.moves {
    margin: 20px;
}

.hidden-moves {
    display: none;
}

.ships {
    background-color: grey;
    padding: 3px;
    text-align: center
}

.ships:hover {
    background-color: yellow;
}

.selected {
    background-color: yellow;
}

table {
    margin: 10px;
}

.placed {
    background-color: blue;
}

.moves button {
    margin: 5px 9px;
}

#players {
    margin-top: 10px;
}

#message {
    margin-top: 20px;
}

#handle {
    width: 50%;
    margin-right: 10px;
    margin-left: 90px;
}

#submitName {
    width: 20%;
    border-radius: 3px;
    height: 40px;
}